.header {
   position: absolute;
   width: 100%;
   z-index: 50;

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 80px;

      &_h {
         justify-content: flex-start;
         gap: 100px;
      }
   }

   @media (max-width: $md2) {
      &__body_h {
         justify-content: space-between;
         gap: 0;
      }
   }
}

.menu {
   &__list {
      display: flex;
      gap: 30px;
   }

   &__link {
      font-size: 24px;
      color: var(--text-color);

      span {
         position: relative;
         display: block;

         &::after {
            content: "";
            position: absolute;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: var(--primary);
            bottom: -5px;
            transition: all .3s ease 0s;
         }
      }

      &:hover,
      &.active {
         span::after {
            left: 0;
            width: 100%;
         }
      }
   }

   @media (max-width: $md3) {
      &__link {
         font-size: 20px;
      }
   }
}