body {
   background-color: var(--page-bg);
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.header-block {
   color: var(--text-color);

   &__subtitle {
      font-size: 28px;
      font-weight: 700;
      color: var(--primary);
      margin: 0 0 30px 0;
   }

   &__title {
      font-size: 45px;
      font-weight: 700;
      line-height: 1.4;
      text-wrap: balance;

      &_d {
         font-size: 54px;
      }

      span {
         color: var(--primary);
      }
   }

   &__text {
      font-size: 20px;
      line-height: 30px;
      margin: 25px 0 45px 0;

      &_d {
         margin: 25px 0 0 0;
      }
   }

   @media (max-width: $md3) {
      &__title {

         &_s,
         &_d {
            font-size: 30px;
         }
      }

      &__text {
         &_d {
            font-size: 18px;
         }
      }
   }
}

// Container
.container {
   max-width: $mw;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1) {
      max-width: 970px;
   }

   @media (max-width: $md2) {
      max-width: 750px;
   }

   @media (max-width: $md3) {
      max-width: none;
      padding: 0 10px;
   }
}