@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// Media
$minwidth: 320px;
$mw: 1200px;
$md1: $mw + 12px;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;

:root {
   --font-main: 'Poppins', sans-serif;
   --font-accent: 'Poppins', serif;
}

.dark {
   --page-bg: #000;
   --text-color: #fff;
}